$font-default: 'Open Sans', sans-serif;
$light: 300;
$bold:700;
$mirage: #151929;
$white: #fff;
$east-bay: #414E7E;
$scooter: #2ab1c1;
$aquamarine-blue:#81D5DF;
$wild-sand:#F5F5F5;
$black: #000;
$heliotrope: #c54cfb;
$medium-purple:#BD33E6;
$ebony-clay: #22283F;